<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="PetStoreAPITestSuite">
    <test name="PetAPITest">
        <classes>
            <class name="tests.PetAPITest"/>
            <class name="tests.SimpleClass"/>
        </classes>
    </test>
</suite>